nav.navbar.navbar-default
	.container
		.navbar-header
			a.navbar-brand(href='/') Marsette M. Thomas
		ul.nav.navbar-nav.navbar-right
			li
				a(href='/') Home
			li
				a(href='/about') About
			li 
				a(href='/professional') Professional
			li 
				a(href='/portfolio') Portfolio
			li 
				a(href='/needs') Needs