h1 {{message}}

p i will add this and see what happens

h2 not too much happened how do i change the beautiful colors?

<input id="setbtn" type="button" value="set" ng-click="myVar='my-class'">
<input id="clearbtn" type="button" value="clear" ng-click="myVar=''">
<br>
<span class="base-class" ng-class="myVar">no sample</span>

p what is going on?
